[run]
source = /home/travis/build/biologyguy/RD-MCL/rdmcl/rdmcl.py
         /home/travis/build/biologyguy/RD-MCL/rdmcl/launch_worker.py
         /home/travis/build/biologyguy/RD-MCL/rdmcl/helpers.py
         /home/travis/build/biologyguy/RD-MCL/rdmcl/mcmcmc.py
         /home/travis/build/biologyguy/RD-MCL/rdmcl/group_by_cluster.py
         /home/travis/build/biologyguy/RD-MCL/rdmcl/merge_orthogroups.py
         /home/travis/build/biologyguy/RD-MCL/rdmcl/tests/conftest.py
         /home/travis/build/biologyguy/RD-MCL/rdmcl/tests/__init__.py

[report]
exclude_lines=
 pragma: no cover
 if __name__ == .__main__.:
 except ImportError:
 except CalledProcessError:
 if os.name == .nt.:
 def fmt.prog.:
show_missing=True
